.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.button{
  cursor: pointer;
  background-color: #0B66EF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 700;
  margin: 10px 0;
}
.buttonRight{
  display: flex;
  justify-content: end;
}

.container{
  width: 100%;
  padding: 20px;
}

.fields{
  display: flex;
  justify-content: end;
  gap: 20px;
  margin: 10px 0;
}

.fields input, .fields textarea,.fields select{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: #0B66EF;
  color: #535353B2;
}

.formBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.myJobPosts{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}


.jobPostCard{
  background-color: #dedede;
  border: 1px solid #c4c4c4;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}
.jobPostCardTitle{
  width: 100%;
  text-align: start;
  font-size: 18px;
  font-weight: 700;
}

.jobPostCardFooter{
  width: 100%;
  display: flex;
  justify-content: space-between;
}